@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  background-color: rgb(92, 35, 35);
}
.cake-img {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
}
.header-container {
  background: repeating-linear-gradient(
    135deg,
    rgb(92, 35, 35),
    rgb(92, 35, 35) 69px,
    rgba(255, 255, 255, 0.836) 1px,
    rgba(255, 255, 255, 0.836) 70px
  );
  width: auto;
  height: 100px;
}
#bgstyle {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 250px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}
#shopname {
  object-fit: contain;
  color: white;
  padding-left: 85px;
}
.Rectangle1 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgb(174, 110, 233);
}
.Group-1 {
  width: 240px;
  height: 301px;
  object-fit: contain;
}

.Group-2 {
  width: 240px;
  height: 301px;
  object-fit: contain;
}

.Group-3 {
  position: relative;
  width: 1440px;
  height: 200px;
  object-fit: contain;
}
.menu {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 240px;
  height: 301px;
  z-index: 0;
}
.menu-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.menu-container h3 {
  padding-left: 2rem;
  line-height: 2;
}

.menu-container p {
  padding-left: 2rem;
  line-height: 1.5;
}
.cake {
  position: absolute;
  bottom: 20%;
  width: 245px;
  left: 38%;
  height: 125px;
  display: flex;
  flex-direction: column;
}
.bill {
  position: absolute;
  top: 10%;
  right: 6%;
  width: 240px;
  height: 301px;
  z-index: 0;
}
.bill-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.bill-container h3 {
  padding-left: 2rem;
  line-height: 2;
}

.bill-container p {
  padding-left: 2rem;
  line-height: 1.5;
}
.button:active {
  background-color: rgb(174, 110, 233);
  transform: translateY(1px);
}
.btn-buy {
  background-color: rgb(167, 241, 28);
  width: 75px;
  height: 30px;
  border-radius: 30%;
  text-align: center;
  cursor: pointer;
}
.button-container {
  display: flex;
  padding-top: 20px;
  top: 5%;
  left: 5%;
  width: auto;
  height: 128px;
  justify-content: space-around;
}

.button {
  width: 95px;
  height: 30px;
  border-radius: 30%;
  cursor: pointer;
  background-color: white;
  line-height: 20px;
  text-align: center;
}

.button.active {
  width: 95px;
  height: 30px;
  background-color: rgb(174, 110, 233);
  line-height: 20px;
  text-align: center;
}
#layer1 {
  width: 245px;
  visibility: hidden;
  background-color: brown;
  color: brown;
  border-radius: 25%;
  align-self: center;
}

#layer2 {
  width: 200px;
  left: 40px;
  visibility: hidden;
  background-color: pink;
  border-radius: 25%;
  color: pink;
  align-self: center;
}

#layer3 {
  width: 160px;
  left: 60px;
  visibility: hidden;
  background-color: rgb(250, 240, 98);
  border-radius: 25%;
  color: rgb(250, 240, 98);
  align-self: center;
}

#layer4 {
  width: 120px;
  left: 80px;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 25%;
  color: whitesmoke;
  align-self: center;
}

#layer5 {
  width: 80px;
  left: 100px;
  visibility: hidden;
  background-color: red;
  border-radius: 25%;
  color: red;
  align-self: center;
}
#candle {
  width: 50px;
  left: 120px;
  visibility: hidden;
  align-self: center;
}
/* #layer1 {
  position: absolute;
  width: 245px;
  background-color: brown;
  border-radius: 25%;
  visibility: hidden;
  bottom: 0%;
  top: 70%;
  left: 54%;
}

#layer2 {
  position: absolute;
  align-items: center;
  background-color: red;
  width: 200px;
  border-radius: 25%;
  left: 40px;
  visibility: hidden;
  top: 60%;
  bottom: 20%;
}

#layer3 {
  background-color: rgb(241, 214, 59);
  position: absolute;
  width: 160px;
  left: 60px;
  top: 50%;
  visibility: hidden;
}

#layer4 {
  width: 120px;
  left: 80px;
  visibility: hidden;
}

#layer5 {
  width: 80px;
  left: 100px;
  visibility: hidden;
} */
.footer {
  position: relative;
  height: 100px;
  background-color: rgb(92, 35, 35);
}
